body {
  margin: 0;
  color: #fff;
  font-family: monospace;
  font-size: 12px;
}

* {
  user-select: none;
  -webkit-user-select: none;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 20px;
  font-size: 16px;
}

footer {
  position: absolute;
  bottom: 15px;
  left: 20px;
  right: 20px;
  display: flex;
  /* justify-content: space-between; */
}

a {
  color: #fff;
}

main {
  position: absolute;
  inset: 0;
  overflow: hidden;
}
@media screen and (max-width: 500px) {
  header {
    display: none;
  }
}
